<div class="main-contents">
  <h2>受信メッセージ一覧</h2>
  <% if @messages.any? %>
    <%= will_paginate %>
    <div class="messages">
      <%= render @messages %>
    </div>
    <%= will_paginate %>
  <% end %>
</div>
