@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

//universal
a {
  color: black;
}

.main-wrapper {
  .main {
    padding: 30px 0px;
    .main-contents{
      margin: 20px auto;
    }
  }
}

ul {
  list-style: none;
}

// header
.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .left {
      .logo {
        color: #AFF24B;
        font-size: 24px;
        font-weight: bold;
        font-style: oblique;
      }
    }
  }
}

// form-box
.form-box {
  margin: 0 auto;
  p, h2 {
    text-align: center;
  }
  form {
    label {
      margin-top: 20px;
    }
    input[type="email"], input[type="password"], input[type="text"] {
      width: 100%;
    }
    input[type="submit"] {
      width: 64%;
      margin: 20px 18%;
    }
    textarea {
      width: 100%;
    }
    border-bottom: 1px solid lightgray;
  }
}

// user_show
.self_introduction {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

// error
.field_with_errors {
  display: contents;
  input, textarea {
    @extend .is-invalid;
    background-color: #fcc;
    padding: 2px;
  }
}

// search
.search-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  input[type="text"] {
    width: 100%;
  }
  .search-btn {
    width: 70px;
  }
}

// jobs
.jobs {
  a {
    .job {
      padding: 10px;
      border-radius: 10px;
      background: rgba(176, 242, 75, 0.07);
      height: 250px;
      overflow: hidden;
    }
  }
}

.job-content-detail {
  border-bottom: 1px solid lightgray
}
