<% flash.each do |key, value| %>
  <% unless key == "timedout" %>
    <div class="alert alert-<%= bootstrap_alert(key) %>">
      <div class="container">
        <strong>
          <%= value %>
        </strong>
      </div>
    </div>
  <% end %>
<% end %>
